/*
Theme Name: Paul Davis
Theme URI:
Description:
Author: DDI Development
Author URI:
Version: 1.0
*/

body {
    font-family: 'Lato', sans-serif;
    padding-top: 25px;
    color: #443a28;
}

h1 {
    font-size: 42px;
    font-weight: 300;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4,
h5,
h6 {
    font-size: 22px;
}

input {
    border-radius: 0 !important;
    border: 1px solid #cdc5b5 !important;
}

textarea {
    border-radius: 0 !important;
    border: 1px solid #cdc5b5 !important;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    background-color: #cdc5b5 !important;
    border-radius: 0 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: #443a28 !important;
    padding: 10px 25px !important;
}

/**/

.no-padding {
    padding: 0;
    margin: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
}

.btn-style-3 {
    background-color: #cdc5b5;
    color: #443a28;
    font-weight: bold;
}

.header {
    padding-bottom: 21px;
}

/**/

.contacts .phone {
    font-size: 25px;
    font-weight: bold;
    color: #2e2a2a;
}

.contacts .btn {
    background-color: #cebc98;
    color: #fff;
}

.contacts .btn.contact-us {
    margin-right: 9px;
    padding: 3px 5px 1px;
    font-size: 12.5px;
}

.contacts .socials .sprite {
    margin-right: 5px;
}

.contacts .socials a:last-child .sprite {
    margin-right: 0;
}

/**/

.sprite {
    background: url(images/spritesheet.png) no-repeat;
    display: block;
}

.sprite.btn-arrow-1 {
    width: 5px;
    height: 9px;
    background-position: -1px -1px;
    display: inline-block;
    margin-left: 5px;
}

.sprite.btn-arrow-2 {
    width: 20px;
    height: 13px;
    background-position: -8px -1px;
    display: inline-block;
    margin-left: 10px;
}

.sprite.collaboration {
    width: 95px;
    height: 95px;
    background-position: -95px -1px;
    display: inline-block;
}

.sprite.home {
    width: 19px;
    height: 15px;
    background-position: -192px -1px;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: -2px;
}

.sprite.linkedin {
    width: 23px;
    height: 24px;
    background-position: -28px -55px;
}

.sprite.our-heritage {
    width: 95px;
    height: 95px;
    background-position: -61px -98px;
    display: inline-block;
}

.sprite.quote {
    width: 17px;
    height: 12px;
    background-position: -213px -1px;
}

.sprite.slider-block-green-house {
    width: 77px;
    height: 77px;
    background-position: -158px -98px;
}

.sprite.slider-block-red-house {
    width: 77px;
    height: 77px;
    background-position: -236px -1px;
}

.sprite.slider-right-arrow {
    width: 16px;
    height: 30px;
    background-position: -237px -80px;
}

.sprite.support {
    width: 95px;
    height: 95px;
    background-position: -158px -177px;
    display: inline-block;
}

.sprite.twitter {
    width: 24px;
    height: 24px;
    background-position: -255px -80px;
}

.sprite.youtube {
    width: 24px;
    height: 24px;
    background-position: -281px -80px;
}

/**/

nav {
    background-color: #907c54;
}

.nav li {
    float: left;
    text-align: center;
    font-weight: bold;
}

.nav li a {
    color: #fff;
    text-transform: uppercase;
}

.nav-header .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #b19b70;
}

.nav > li.active {
    background-color: #b19b70;
}

.nav-header {
    font-size: 17px;
}

/**/

.slider {
    position: relative;
    height: 466px;
    overflow: hidden;
}

.slider .image {
    width: 100%;
}

.slider .slider-block {
    position: absolute;
    top: 48px;
    right: 4%;
    width: 357px;
}

.slider .slider-block .icon-block {
    background-color: #4a4742;
    color: #fff;
    height: 86px;
    font-size: 16px;
}

.slider .slider-block .icon-block .left {
    background-color: #54514c;
    padding: 4px !important;
    float: left;
}

.slider .slider-block .icon-block .right {
    float: left;
    padding: 10px 20px;
    line-height: 21px;
}

.slider .slider-block .icon-block .big {
    font-size: 27px;
    font-weight: bold;
}

.slider .slider-block .icon-block .italic {
    font-size: 13.5px;
    font-style: italic;
}

.slider .slider-block .middle-block {
    font-size: 16px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    border-radius: 15px;
    margin: 16px auto;
    width: 274px;
    text-align: center;
}

.slider .slider-bottom {
    position: absolute;
    bottom: 0px;
    color: #fff;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.slider .slider-bottom .container {
    padding-bottom: 24px;
}

.slider .slider-bottom blockquote {
    border-right: 1px solid rgba(255, 255, 255, 0.36);
    border-left: none;
    background: url(images/quote.png) no-repeat;
    color: #efe8da;
}

.slider .slider-bottom blockquote p {
    font-size: 18px;
    font-weight: bold;
}

.slider .slider-bottom blockquote footer {
    font-style: italic;
    color: #efe8da;
}

.slider .slider-bottom .right {
    position: relative;
    margin-top: 13px;
}

.slider .slider-bottom .right .big {
    font-size: 18px;
    font-weight: bold;
}

.slider .slider-bottom .right .italic {
    font-size: 12.5px;
    font-style: italic;
}

.slider .slider-bottom .right .arrow {
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -15px;
}

/**/

.find-out-more-block {
    background-color: #44413b;
    text-align: center;
    padding: 40px 15%;
}

.find-out-more-block .text {
    color: #fff;
    font-size: 30px;
}

.find-out-more-block .btn {
    background-color: #6b675f;
    color: #fff;
    width: 220px;
    font-size: 18px;
    font-weight: 300;
    height: 49px;
    padding: 0;
    line-height: 49px;
    margin-top: 15px;
}

.find-out-more-block-before {
    display: none;
}

/**/

.info-block {
    font-size: 16px;
}

.info-block .title-block {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.info-block .btn {
    font-size: 15px;
    font-weight: bold;
    margin-top: 18px;
    padding-top: 10px;
    padding-bottom: 9px;
    width: 155px;
}

.info-block .description {
    margin: 5px auto 20px auto;
    width: 80%;
}

/**/

.collaboration-block {
    padding-top: 37px;
    padding-bottom: 57px;
}

/**/

.our-heritage-block {
    background: url(images/our_heritage_bg.jpg) no-repeat #f3efec;
    background-size: cover;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 50px;
}

.our-heritage-block .block {
    border-radius: 3px;
    border-top: 3px solid #c5a973;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    height: 230px;
    background-color: #fcfaf8;
    padding: 25px;
}

.our-heritage-block .block .title {
    font-weight: bold;
    font-size: 18px;
}

.our-heritage-block .block .separator {
    border: 1px solid #44413b;
    width: 59px;
    display: inline-block;
    margin: 15px 0;
}

.our-heritage-block .block .text {
    font-size: 14px;
}

/**/

.support-block {
    padding-top: 65px;
    padding-bottom: 95px;
}

/**/

.why-block {
    background-color: #f2efeb;
    padding-top: 42px;
    padding-bottom: 44px;
    font-size: 20px;
}

.why-block .title {
    text-transform: uppercase;
    font-weight: bold;
}

.why-block .small {
    font-size: 16px;
}

.why-block .image {
    margin-top: 14px;
}

.why-block .facebook-widget {
    margin-top: 15px;
}

/**/

.partners-block {
    padding-top: 40px;
    padding-bottom: 48px;
}

.partners-block .title {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.partners-block img {
    margin-right: 21px;
}

/**/

.footer {
    background-color: #907c54;
    color: #fff;
    padding-top: 45px;
    padding-bottom: 15px;
}

.footer a {
    color: #fff;
}

.footer .nav {
    margin-top: 8px;
}

.footer .nav-right {
    font-size: 12px;
    color: #f0e9db;
    text-align: right;
}

.footer .nav-right ul li {
    list-style-type: disc;
}

.footer .nav-right ul li:before {
    content: '\2022';
    margin-right: 5px;
}

.footer .nav-right ul li:first-child:before {
    content: '';
}

.footer .nav-right a {
    color: #f0e9db;
}

.footer .nav > li > a {
    padding: 0 15px;
}

/**/

article .header {
    background-color: #fdfbf6;
    padding: 12px 0;
}

article .header .title {
    text-transform: uppercase;
    font-weight: bold;
}

article .header .breadcrumbs {
    font-size: 12px;
    font-weight: bold;
}

article .header .breadcrumbs a {
    color: #b6995b;
    font-weight: normal;
}

article .content {
    font-size: 16px;
}

article .content p {
    margin-bottom: 25px;
}

article .content h1 + p {
    font-size: 20px;
    font-weight: bold;
}

article .content img {
    border: 3px solid #f2efeb
}

article .wp-caption p {
    font-size: 13px;
    font-style: italic;
    background-color: #f3f0ec;
    text-align: center;
    padding: 7px 0;
}

article .content ul,
article .content ol {
    font-size: 18px;
    margin: 30px 0;
}

article .content ul li,
article .content ol li {
    margin-bottom: 10px;
}

article blockquote {
    background-color: #44413b;
    padding: 15px;
    border-left: none;
}

article blockquote pre,
article blockquote p {
    background-color: #44413b;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    border: 0;
    border-radius: 0;
}

article blockquote pre:before {
    content: '\201C';
}

article blockquote pre:after {
    content: '\201D';
}

article blockquote footer {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

article blockquote footer:before {
    content: '\2013 \00A0';
}

/**/

.alignleft {
    float: left;
    margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
    float: right;
    margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}

/**/

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/**/

@media (max-width: 1117px) {
    .slider .image {
        width: auto;
        height: 100%;
    }
}

/* Tablet */
@media (max-width: 992px) {

    .nav-header .nav > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav > li > a:focus, .nav > li > a:hover {
        background-color: transparent;
    }

    #sidr .nav li {
        float: none;
        text-align: justify;
        font-weight: normal;
    }

    .sidr .nav > li.active {
        background-color: transparent;
    }

    .sidr ul li a {
        text-transform: none;
    }

    .info-block .btn {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .info-block .image {
        margin-bottom: 15px;
    }

    .our-heritage-block .block {
        height: 300px;
    }

    .footer .nav-right {
        text-align: center;
    }

    .collaboration-block .title-block > div {
        display: inline;
    }

    .collaboration-block p {
        margin: 0;
    }

    .find-out-more-block-before {
        display: block;
        background-color: #44413b;
        padding-top: 14px;
    }

    .find-out-more-block-before .icon-block {
        background-color: #cebc98;
        color: #443a28;
        height: 86px;
        font-size: 16px;
        border-radius: 40px 8px 8px 40px;
    }

    .find-out-more-block-before .border {
        border-right: 1px dotted #f0e9db;
        margin-top: 33px;
    }

    .find-out-more-block-before .icon-block .left {
        padding: 4px !important;
        float: left;
    }

    .find-out-more-block-before .icon-block .right {
        float: left;
        line-height: 23px;
        padding-top: 6px;
        padding-left: 5px;
    }

    .find-out-more-block-before .right .big {
        font-size: 30px;
        font-weight: bold;
    }

    .find-out-more-block-before .right .italic {
        font-style: italic;
    }

    .find-out-more-block-before .middle-block {
        color: #f0e9db;
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
    }

    .find-out-more-block {
        padding-left: 3%;
        padding-right: 3%;
    }

    /**/

    .sprite.home {
        width: 25px;
        height: 21px;
        background-position: -1px -55px;
    }

    .sprite.hamburger {
        width: 26px;
        height: 21px;
        background-position: -67px -1px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .sprite.linkedin {
        width: 33px;
        height: 34px;
        background-position: -53px -55px;
    }

    .sprite.twitter {
        width: 33px;
        height: 33px;
        background-position: -1px -166px;
    }

    .sprite.youtube {
        width: 34px;
        height: 34px;
        background-position: -1px -222px;
    }

    /**/

    .contacts .phone {
        font-size: 25px;
        text-align: right;
    }

    .contacts .btn.contact-us {
        margin-top: 6px;
    }

    .contacts .socials .sprite {
        zoom: 0.94;
    }

    .support-block {
        padding-top: 34px;
    }

    .why-block .big {
        font-size: 16px;
    }

    .partners-block img {
        margin-right: 3.1%;
    }

    .partners-block .bottom {
        margin-top: 30px;
        text-align: center;
    }

    .footer {
        padding-top: 24px;
        text-align: center;
    }

    .footer .nav {
        margin-bottom: 10px;
        display: inline-block;
    }
}


/* Mobile */
@media (max-width: 767px) {
    /*.find-out-more-block {
        padding: 57px 0;
    }*/

    .contacts .btn.contact-us {
        font-size: 15px;
    }

    .info-block .btn {
        width: 255px;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .our-heritage-block .blocks {
        margin-left: 5px;
        margin-right: 5px;
    }

    .our-heritage-block .block {
        height: auto;
        margin-bottom: 28px;
    }

    /**/

    .sprite.home {
        width: 42px;
        height: 35px;
        background-position: -192px -18px;
    }

    .sprite.hamburger {
        width: 35px;
        height: 29px;
        background-position: -30px -1px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .sprite.linkedin {
        width: 58px;
        height: 58px;
        background-position: -1px -98px;
    }

    .sprite.twitter {
        width: 58px;
        height: 58px;
        background-position: -255px -106px;
    }

    .sprite.youtube {
        width: 54px;
        height: 54px;
        background-position: -255px -166px;
    }

    /**/

    .contacts .phone {
        font-size: 30px;
        text-align: right;
    }

    .contacts .btn.contact-us {
        margin-top: 15px;
    }

    .contacts .socials .sprite {
        zoom: 1;
    }

    .find-out-more-block-before .border {
        border-right: none;
        border-bottom: 1px dotted #f0e9db;
        padding-bottom: 23px;
        margin-top: 22px;
    }

    .find-out-more-block-before .icon-block {
        max-width: 445px;
        margin-left: auto;
        margin-right: auto;
    }

    .info-block img {
        max-width: 100%;
        height: auto;
    }

    .why-block .no-padding {
        padding-right: 15px;
        padding-left: 15px;
    }

    .why-block .image {
        float: left;
    }

    .footer .nav {
        text-align: center;
    }

    .footer .nav li {
        display: inline-block;
        float: none;
    }
}

@media (max-width: 664px) {
    .contacts .socials .sprite {
        zoom: 0.7;
    }

    .contacts .btn.contact-us {
        margin-top: 6px;
    }

    .why-block .logo {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 560px) {

    .find-out-more-block-before .right .big {
        font-size: 23px;
    }

    .contacts {
        text-align: right;
    }

    .contacts .phone {
        font-size: 21px;
    }

    .contacts .btn.contact-us {
        float: none !important;
        margin-bottom: 6px;
    }

    .contacts .socials {
        float: right;
    }
}